* {
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

body {
    width: 100%;
    height: 100vh;
    background-color:rgb(15, 155, 155);
}

nav {
    display: flex;
}

nav li {
    list-style-type: none;
    padding-top: 20px;
}

nav a {
    text-decoration: none;
    padding-left: 50px;
    color: rgb(82, 50, 112);
}

.header_2_1 {
    display: flex;
}

.header2 {
    padding-left: 200px;
}

.header1 {
    border-radius: 20px;
    border: 1px solid blueviolet;
    width: 120px;
    height: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 15px;
}

span {
    color: blueviolet;
    font-weight: bold;
}

#logo {
    color: blueviolet;
}

.border {
    border-radius: 35px;
    width: 75%;
    height: 90vh;
    background-color: rgb(249, 248, 250);
    margin-left: 120px;
    margin-top: 30px;
    box-shadow: 10px 20px 50px rgb(75, 73, 73);
}

#s1 {
    font-family: 'Anton', sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Anton', sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: rgb(125, 40, 205);
}

#s2 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: rgb(120, 45, 190);
}
#s3{
    font-family: 'Anton', sans-serif;
    color: blueviolet;
    font-size: 30px;
    font-weight: bold;
}
#s4{
    color: rgb(143, 122, 163);
}

.left {
    width: 30%;
    height: 500px;
    padding-left: 20px;
    text-align: center;
}

.right {
    padding-right: 30px;
}