*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(197, 173, 220);
}
.border{
    border-radius: 20px;
    width: 25%;
    height: 80vh;
    background-color: white;
    margin: 10px 430px;
}
.header{
    text-align: center;
    padding-top: 30px;
}
.name{
    margin: 30px;
}
.login{
    padding-left:65px;
    margin: 20px;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    background-color: rgb(123, 63, 178);
}
h3{
    color: white;
}
#forget{
    padding-left: 130px;
}
#orther{
    text-align: center;
}
.icon{
    text-align: center;
    padding-top: 10px;
}
i{
    padding-left: 10px;
}
.footer{
    padding-top: 30px;
    text-align: center;
}
    